<%= form_with(model: [ferment.user, ferment, comment], class: "f-comment-form p-4 rounded-4 mb-5") do |form| %>
  <div class="mb-3">
    <%= form.text_field :title, placeholder: "Asunto...", class: "input-custom mb-2" %>
    <%= form.text_area :content, placeholder: "Escribe tu duda o consejo...", rows: 3, class: "input-custom" %>
  </div>
  <div class="text-end">
    <%= form.submit "Publicar comentario", class: "btn btn-warning btn-sm px-4 fw-bold rounded-pill" %>
  </div>
<% end %>
