* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  background: #333;
}

.landing {
  position: relative;
  background-image: url('https://plus.unsplash.com/premium_photo-1705808668311-45ee3d6612b5?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.landing-inner {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 53, 53, 0.7);
}

/* Navbar */
.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}


/* RESPONSIVE SECTION */

@media (max-width: 650px) {
  .profile-avatar {
    width: 40px;
    height: 40px;
  }

  .landing h1 {
    font-size: 32px;
  }
}

@media (max-height: 600px) {
  img {
    width: 20%;
  }
}

@media (max-height: 400px) {
  img {
    padding-bottom: 30px;
  }

  h1 {
    display: none;
  }
}
