.landing {
  position: relative;
  background-image: url('https://plus.unsplash.com/premium_photo-1705808668311-45ee3d6612b5?q=80&w=2069&auto=format&fit=crop');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.landing-inner {
  height: 100%;
  background: rgba(0, 0, 0, 0.6); // Oscurece la imagen de fondo
  display: flex;
  flex-direction: column;
}

.landing-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-text-container {
  padding: 2rem;
  max-width: 850px;
}

.landing-title {
  font-size: clamp(2.5rem, 8vw, 4.5rem);
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;

  .text-highlight {
    color: #ffc107;
  }
}

.btn-hero {
  display: inline-block;
  padding: 1rem 3rem;
  font-weight: 700;
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    background: #fff;
    color: #000;
  }
}
