<%= simple_form_for @user, url: user_path(@user), method: :patch, html: { class: "w-25 mx-auto", multipart: true } do |f| %>
  <div class="form-inputs my-4">
    <%= f.input :photo, as: :file, label: "Upload Profile Photo", input_html: { accept: 'image/*', class: 'form-control-file' } %>
  </div>
  <div class="text-center">
    <%= f.submit "Update Profile", class: "btn btn-outline-info w-100" %>
    <%= link_to "Volver", ferments_path, class: "btn btn-outline-info mt-3 w-100" %>
  </div>
<% end %>
