<div class="landing">
  <div class="landing-inner">

    <%= render 'shared/navbar' %>

    <div class="landing-content">
      <div class="hero-text-container">
        <h2 class="landing-title">Explora y crea <span class="text-highlight">fermentos</span></h2>
        <p class="landing-subtitle">Descubrí, compartí y sigue tus procesos favoritos de fermentación artesanal.</p>

        <div class="landing-actions">
          <%= link_to "Explorar ahora", ferments_path, class: "btn-hero" %>
        </div>
      </div>
    </div>

    <div class="d-none d-md-block" style="height: 80px;"></div>
  </div>
</div>
