<section class="landing">

  <nav class="nav">
    </div>
      <%= link_to 'About us' %>
      <%= link_to 'About us' %>
      <%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete %>
    <div>

  </nav>

  <div class="landing-inner">
    <h1>Cool Beans</h1>
    <%= link_to "Get started!", new_user_registration_path %>
  </div>
</section>
