<div class="ferment-gallery">
  <% ferment.photos.each do |photo| %>
    <div  class="ferment-photo-card"  id="<%= dom_id(photo) %>">

      <% if ferment.user == current_user %>

        <%= link_to "✖",
          destroy_photo_ferment_path(ferment_id: ferment.id, photo_id: photo.id),
          class: "delete-photo-btn",
          data: { turbo_method: :delete }
        %>

      <% end %>
      <%= image_tag photo,
            alt: ferment.name,
            class: "ferment-photo-img" %>


      <span class="photo-date">
        <%= photo.created_at.strftime("%d/%m/%Y") %>
      </span>


    </div>
  <% end %>
</div>
