<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6">
      <div class="card shadow-sm">
        <div class="card-body">

          <turbo-frame id="ferment_form">
            <%= render "form", ferment: @ferment %>
          </turbo-frame>

        </div>
      </div>
    </div>
  </div>
</div>
