<div class="p-5 ">

  <h1 class="text-center my-2"><%= @ferment.name %></h1>

  <%= render "ferments/details", ferment: @ferment %>

  <%= render "comments/form", ferment: @ferment, comment: @comment %>

  <%= render @comments %>

</div>
