<div class="p-5 w-75 mx-auto">

  <h1 class="text-center my-2"><%= @ferment.name %></h1>

  <%= render "ferments/details", ferment: @ferment %>

  <%= render "comments/form", ferment: @ferment, comment: @comment %>

  <%= render partial: 'comments/comment', collection: @comments, as: :comment, locals: { ferment: @ferment } %>

</div>
