.nav {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-title {
  font-size: 42px;
  margin: 0;
}

.nav a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
