.show-page {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  padding: 20px;
}

.profile {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.ferments-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ferment-list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
}

.ferment-item {
  background-color: #2e2e2e;
  border-radius: 8px;
  border: 1px solid #aeacac;
  transition: transform 0.2s ease;
  width: 100%;
  padding: 16px;

  &:hover {
    transform: scale(1.01);
    background-color: #383838;
  }
}

li {
  list-style: none;
}

.ferment-link {
  text-decoration: none;
  color: inherit;
}

.ferment-content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.ferment-image {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 8px;
}

.ferment-name {
  margin: 0;
  font-weight: 600;
  font-size: 1.1rem;
  color: #e2e2e2;
}

  @media (max-width: 768px) {
    .show-page{
      display: grid;
      grid-template-columns: 1fr;
      padding: 10px;
    }

  }
