// 1. Variables y Configuración
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// 2. Librerías Externas
@import "font-awesome";

// 3. Tus Estilos Personalizados
@import "components/index";
@import "pages/index";

// 4. Estilos Globales
html,
body {
  background-color: #121212 !important;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
