// 1. Variables y Configuración
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// 2. Librerías Externas
@import "font-awesome";

// 3. Tus Estilos Personalizados
@import "components/index";
@import "pages/index";

// 4. Estilos Globales
html,
body {
  background-color: #121212 !important;
  margin: 0;
  padding: 0;
  color: #ffffff;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
    border: 1px solid #1a1a1a;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #ffc107;
  }
}
