<p>Hola <%= @resource.email %>!</p>

<p>Recibimos una solicitud para restablecer tu contraseña.</p>

<p>
  <%= link_to 'Restablecer contraseña',
  edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>Si no la solicitaste, ignora este correo.</p>
